{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
Chat Bot
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <h1>Ask me any question or tell me something about you</h1>
    <div id="response">

    </div>
    <p>{{ response }}</p>
    <form method="post" class="form-group">
        {% csrf_token %}
        <input name="prompt" id="prompt">
        <input type="submit" value="Submit">
    </form>

    <script>

        $("form").submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: 'ask/',
                type: "POST",
                data: $(this).serialize(),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    document.getElementById("response").innerHTML += response.response;
                }
            });
        });
    </script>
</div>
{% endblock %}