{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
UrbanBuddy - Chat Bot
{% endblock %}

{% load crispy_forms_tags %}

{% block css%}
    <style>
        .myPrompt {
            color: #000;
            background-color: #f1f1f1;
            border-radius: 14px;
            padding: 10px;
            display: inline-block;
            max-width: 80%;
        }
        .response {
            color: #fff;
            background-color: #007bff;
            border-radius: 14px;
            padding: 10px;
            display: inline-block;
            max-width: 80%;
        }
    </style>
{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="container">
    <div class="chat-container">
        <h1 class="chat-title mb-4 text-center">Ask me any question or tell me something about you</h1>
        <div id="response" class="chat-response p-3 border rounded bg-light mb-3 text-center"></div>
        <form method="post" class="chat-form text-center">
            {% csrf_token %}
            <div class="mb-3">
                <!-- <label for="prompt" class="form-label">Your Message</label> -->
                <input name="prompt" id="prompt" class="form-control form-control-lg shadow-sm" placeholder="Type your message here" aria-label="Chat Message" required autofocus style="border-radius: 8px;">            
                <input type="submit" value="Submit" style="border-radius: 8px; background-color: #000; height: 40px; color: #fff; margin-top: 10px; padding: 0 10px;">
            </div>
        </form>
    </div>

    <script>

        $("form").submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: 'ask/',
                type: "POST",
                data: $(this).serialize(),
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(response) {
                    document.getElementById("response").innerHTML += "<div class='response'>" + response.response + "</div><br><br><div class='myPrompt'>" + document.getElementById("prompt").value + "</div><br><br>";
                }
            });
        });
    </script>
</div>
{% endblock %}