<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width: 500px;
            height: 800px;
        }
        .sekcja{
            display: flex;
            justify-content: space-between;
        }
        .div_opcja{
            width: 15%;
            height: 100px;
            background-color: black;
            margin: 10px;
            transition: all 0.4s ease;
        }

        .div_opcja:hover{
            width: 25%;
            height: 150px;
        }
    </style>
</head>
<body>

    <section class="sekcja">
        <div class="div_opcja" id="div_opcja"></div>
        <div class="div_opcja" id="div_opcja"></div>
        <div class="div_opcja" id="div_opcja"></div>
        <div class="div_opcja" id="div_opcja"></div>
        <div class="div_opcja" id="div_opcja"></div>
    </section>
    

<script>

</script>
</body>
</html>