{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

    <div name="profile-container" class="flex w-full justify-center mt-20">
        <div name="profile-content" class="flex flex-col items-center justify-center border-2 border-[#CED7DC] w-[60%] rounded-2xl shadow-[3px_3px_0px_#CAD1D6,3px_3px_30px_rgba(0,0,0,0.3)]">
            <div name="profile-text" class="mt-10">
                <p class="text-[36px] font-semibold text-[#09151B]">Profile</p>
            </div>
            <div name="profile-details" class="flex flex-col w-[90%] items-center mt-8">
                <table class="table-auto w-full">
                    <tr class="border-b">
                        <td class="px-6 py-3 font-semibold">Username:</td>
                        <td class="px-6 py-3">{{ user.username }}</td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-6 py-3 font-semibold">Name:</td>
                        <td class="px-6 py-3">{{ user.first_name }} {{ user.last_name }}</td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-6 py-3 font-semibold">Email:</td>
                        <td class="px-6 py-3">{{ user.email }}</td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-6 py-3 font-semibold">Interests:</td>
                        <td class="px-6 py-3">{{ user.profile.interests }}</td>
                    </tr>
                    <tr class="border-b">
                        <td class="px-6 py-3 font-semibold">Profile Picture:</td>
                        <td class="px-6 py-3">
                            {% if user.profile.profile_picture %}
                                <img class="w-32 h-32 rounded-full" width="128px" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
                            {% else %}
                                <img class="w-32 h-32 rounded-full" width="128px" src="/static/img/profile_pic.png" alt="Default Profile Picture">
                            {% endif %}
                        </td>
                    </tr>
                    <tr id="controls" class="border-b">
                        <td colspan="2" class="px-6 py-3 text-center"></td>
                            <a href="/profile/edit/" class="text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

{% endblock %}