{% extends "base.html" %}

{% block title %}UrbanBuddy - add alert {% endblock %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <!-- <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Alert</button>
    </form> -->

    <div name="topNav" class="flex flex-row justify-between w-full">
        <div name="topNav-content" class="flex flex-row justify-between m-6 w-full">
            
        </div>
    </div>
    <div name="register-container" class="flex w-full justify-center mt-20">
        <div name="register-content" class="flex flex-col items-center justify-center bg-white border-2 border-[#CED7DC] w-[30%] rounded-2xl shadow-[3px_3px_0px_#CAD1D6,3px_3px_30px_rgba(0,0,0,0.3)] px-6 py-10">
            <p class="text-[32px] font-semibold text-[#09151B] mb-6">Add Alert</p>
            <form method="post" class="w-full flex flex-col items-center gap-6">
                {% csrf_token %}
                {% render_field form.name placeholder="Name" class="w-[80%] px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-[#09151B] focus:outline-none placeholder-gray-500" %}
                {% render_field form.time placeholder="Date" class="w-[80%] px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-[#09151B] focus:outline-none placeholder-gray-500" %}
                {% render_field form.address placeholder="Address" class="w-[80%] px-4 py-3 rounded-xl border border-gray-300 focus:ring-2 focus:ring-[#09151B] focus:outline-none placeholder-gray-500" %}
                <div class="w-full flex justify-center mt-4">
                    <button type="submit" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">
                        Create Alert
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}