{% extends 'base.html' %}

{% load static %}

{% block content %}

    {% for requestx in transport_requests %}
        <!--  -->
            <div onclick="window.location" name="element" class="bg-white flex flex-row gap-5 shadow-md p-4 rounded-lg items-center" style="background-color: white;">
                <div name="user" class="flex flex-row items-center">
                    <img src="{% static 'img/p2.png' %}" class="h-12" alt="user" height="48px" width="48px">
                    <p class="font-normal font-Poppins text-md">{{requestx.transport.user}}</p>
                </div>
                <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                    <p>From: <span>{{requestx.transport.from_location}}</span></p>
                </div>
                <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                    <p>To: <span>{{requestx.transport.to_location}}</span></p>
                </div>
                <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                    <p>Date: <span>{{requestx.created_at|date:"d.m.Y"}}</span></p>
                </div>
                <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                    <p>Time: <span>{{requestx.created_at|date:"H:i"}}</span></p>
                </div>
            
                {% if not requestx.accepted %}
                    <div name="accept" class="rounded-lg flex flex-row items-center p-4 px-6" style="background-color: black; margin-left: auto;">
                        <a href="accept-request/{{requestx.pk}}"><p class="text-white">Accept</p></a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}

{% endblock %}