{% extends 'base.html' %}

{% block content %}
    Transports <br> <br>  

    Linki: <br>
    {% for transport in transports %}
        <a href="drive/{{transport.id}}/">{{transport.from_location}} - {{transport.to_location}}: {{transport.time|date:"d.m.Y"}}</a>
            przez: 
            {% for location in transport.get_transport_through %}
                {{location}} - 
            {% endfor %}
        </a>
        <br>
    {% endfor %}



    <br> <br>
    <h1>Dodaj transport</h1>
    {{form.as_p}}


    <!-- DODAC LOKALIZACJE PRZEZ KTORE PRZEJEZDZA -->
    <!-- LOKALIZACJA -->
    <!-- LOKALIZACJA -->
    <!-- DODAJ -->
     

    <button id="add_location" onclick=add_location()> add location</button>
    <div id="locations"></div>
<script>
    button_add_location = document.getElementById("add_location");
    function add_location(){
        let input_add_location = document.createElement("input");
        input_add_location.placeholder = "add location";
        let locations = document.getElementById("locations");
        locations.appendChild(input_add_location);
    }
</script>
{% endblock %}
