{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--Transports <br> <br>  

    Search transports: <br>
    <form method="GET">
        <input type="text" name="from_location" placeholder="from_location">
        <input type="text" name="destination" placeholder="destination">
        
        <div id="add_location_search" style="background-color: green; width: 150px;" onclick=add_location_search()>add location</div>
        <div id="locations_search"></div>

        <button type="submit" style="border: 1px solid black;">search</button>
        <script>
            button_add_location_search = document.getElementById("add_location_search");
            function add_location_search(){
                let input_add_location = document.createElement("input");
                input_add_location.placeholder = "add location";
                input_add_location.name = "locations_search";
                let locations = document.getElementById("locations_search");
                locations.appendChild(input_add_location);
            }
        </script>
    </form>

    Linki: <br>
   

    <div class="overflow-x-auto shadow-lg rounded-lg">
        <table class="min-w-full bg-white border border-gray-300 table-auto">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Z</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Do</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Data</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">User</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Przez</th>
                </tr>
            </thead>
            <tbody>
                

                {% for transport in transports %}
                    <tr class="border-b hover:bg-gray-50" onclick='window.location="drive/{{transport.id}}/"'>
                        <td class="px-6 py-4 text-sm text-gray-800">{{transport.from_location}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{transport.to_location}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{transport.time|date:"d.m.Y"}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{transport.user}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">
                            {% for location in transport.get_transport_through %}
                                <span class="bg-green-200 text-green-800 py-1 px-3 rounded-full">{{location}}</span>
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    <br> <br>
    <h1>Dodaj transport</h1>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}-->


        <!-- DODAC LOKALIZACJE PRZEZ KTORE PRZEJEZDZA -->
        <!-- LOKALIZACJA -->
        <!-- LOKALIZACJA -->
        <!-- DODAJ -->
        

        <!-- <div id="add_location" style="background-color: green; width: 150px;" onclick=add_location()>add location</div>
        <div id="locations"></div>
        <script>
            button_add_location = document.getElementById("add_location");
            function add_location(){
                let input_add_location = document.createElement("input");
                input_add_location.placeholder = "add location";
                input_add_location.name = "locations";
                let locations = document.getElementById("locations");
                locations.appendChild(input_add_location);
            }
        </script>

        <button type="submit">Dodaj</button>
    </form> -->
    <div name="main" class="w-full justify-center mt-12">
        <div name="main-content" class="w-[80%] m-12 ml-10 flex flex-col gap-5">
            <div class="flex flex-row gap-10">
                <form method="GET">
                    <script>
                        button_add_location_search = document.getElementById("add_location_search");
                        function add_location_search(){
                            let input_add_location = document.createElement("input");
                            input_add_location.placeholder = "add location";
                            input_add_location.name = "locations_search";
                            let locations = document.getElementById("locations_search");
                            locations.appendChild(input_add_location);
                        }
                    </script>

                    <input type="text" class="m-4 border-none outline-none focus:ring-0 focus:border-transparent p-4 rounded-lg" name="from_location" placeholder="from where" style=" border: none !important; outline: none !important; box-shadow: none !important;">
                    <input type="text" class="m-4 border-none outline-none focus:ring-0 focus:border-transparent p-4 rounded-lg" name="destination" placeholder="destination" style=" border: none !important; outline: none !important; box-shadow: none !important;">
                    
                    <button type="submit" class="p-4 bg-black rounded-2xl text-white">search</button>
                </form>
            </div>

            {% for transport in transports %}
            <!--  -->
                <div name="element" onclick='window.location="drive/{{transport.id}}/"' class="bg-white flex flex-row gap-5 shadow-md p-4 rounded-lg items-center" style="background-color: white;">
                    <div name="user" class="flex flex-row items-center">
                        <img src="{% static 'img/p2.png' %}" class="h-12" alt="user" height="48px" width="48px">
                        <p class="font-normal font-Poppins text-md">{{transport.user}}</p>
                    </div>
                    <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                        <p>From: <span>{{transport.from_location}}</span></p>
                    </div>
                    <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                        <p>To: <span>{{transport.to_location}}</span></p>
                    </div>
                    <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                        <p>Date: <span>{{transport.time|date:"d.m.Y"}}</span></p>
                    </div>
                    <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                        <p>Time: <span>{{transport.time|date:"H:i"}}</span></p>
                    </div>
                    <div name="destination" class="rounded-lg flex flex-row items-center p-4" style="background-color: #cccccc;">
                        <p>Free seatings: <span>{{transport.free_seats}}/9</span></p>
                    </div>
                
                    <div name="Join" class="rounded-lg flex flex-row items-center p-4 px-6" style="background-color: black; margin-left: auto;">
                        <p class="text-white">Join</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}