{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} UrbanBuddy {% endblock %}</title>
    {% block head %} {% endblock %}
    {% tailwind_css %}
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% block css%}
    {% endblock %}
</head>
<body class="bg-[#E4EAEE] font-Poppins">
    <div name="topNav" class="flex flex-row justify-between w-full">
        <div name="topNav-content" class="flex flex-row justify-between m-6 w-full">
            <div name="logo" class="flex flex-row gap-2 items-center">
                <p class="font-semibold font-Poppins tracking-widest drop-shadow-md">UrbanBuddy</p>
            </div>
            <div name="menu" class="flex flex-row items-center gap-8">
                {% if request.user.is_authenticated %}
                <a href="/" class="text-[#09151B] font-normal font-Poppins text-md">Home</a>
                <a href="/events/" class="text-[#09151B] font-normal font-Poppins text-md">Events</a>
                <a href="/transport/" class="text-[#09151B] font-normal font-Poppins text-md">Transport</a>
                <a href="/transport/requests/" class="text-[#09151B] font-normal font-Poppins text-md">Transport requests</a>
                <a href="/transport/map/" class="text-[#09151B] font-normal font-Poppins text-md">Map</a>
                <a href="/gpt/chat_bot/" class="text-[#09151B] font-normal font-Poppins text-md">Chatbot</a>
                <a href="/profile/" class="text-[#09151B] font-normal font-Poppins text-md">Profile</a>
                {% endif %}
            </div>
            <div name="loginAndSignUp" class="flex flex-row items-center gap-5 mr-6">
                <div class="flex flex-row items-center">
                    {% if user.is_authenticated %}
                        <a name="logout" href="/logout/" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">Logout</a>
                    {% else %}
                        <a name="login" href="/login/" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">Login</a>
                        <a name="register" href="/register/" class="border-2 border-[#09151B] p-4  text-white bg-[#09151B] shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;margin-left:10px">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% block content %}
        
    {% endblock %}
</body>
</html>