{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
   <!-- <div class="container">
        <h1>Home page</h1>
        <div class="interests">
            {{ interests }}
        </div>
    </div>-->
    <div name="topNav" class="flex flex-row justify-between w-full">
        <div name="topNav-content" class="flex flex-row justify-between m-6 w-full">
            <div name="logo" class="flex flex-row gap-2 items-center">
                <p class="font-semibold font-Poppins tracking-widest drop-shadow-md">UrbanBuddy</p>
            </div>

            <div name="menu" class="flex flex-row items-center gap-5">
                <a href="#" class=" ml-5 mr-5 p-4 bg-black text-white" style="border-radius: 25px; padding-left:20px; padding-right: 20px; text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);">Start</a>
                <a href="#" class="text-[#09151B] ml-5 mr-5" style=" text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);">About</a>
                <a href="#" class="text-[#09151B] ml-5 mr-5"style=" text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);">Features</a>
                <a href="#" class="text-[#09151B] ml-5 mr-5"style=" text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);">Ratings</a>

            </div>
            <div name="loginAndSignUp" class="flex flex-row items-center gap-5 mr-6">
                <div class="flex flex-row items-center">
                    <a name="login" href="#" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">Login</a>
                    <a name="register" href="#" class="border-2 border-[#09151B] p-4  text-white bg-[#09151B] shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;margin-left:10px">Register</a>
                </div>
            </div>
        </div>
    </div>
    <div name="main" class="w-full flex-row flex justify-center mt-[5%]">
        <div name="main-content" class="flex flex-row m-10 w-[80%]">
            <div name="left" class="flex flex-col">
                <p class="text-[64px] font-semibold" style="line-height: 1.1">Explore <span class="text-[32px]">with</span></p>
                <p class="text-[64px] font-semibold" style="line-height:1.1">UrbanBuddy</p>
                <div name="buttons" class="mt-5">
                    <a href="#" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">See more</a>
                    <a href="#" class="border-2 border-[#09151B] p-4 shadow-md" style="border-radius: 30px; padding-right: 24px;padding-left: 24px;">Register</a>
                </div>
                <div name="desc">
                    <p class="text-[16px] mt-8" style="max-width: 400px;">Discover the best spots, plan your routes, and get smart recommendations tailored to your preferences. Urban Buddy helps you find top restaurants, events, and attractions nearby – all in one place!</p>
                </div>
            </div>
        </div>  
        <!--
        <br>
        <div class="events">
            {{ events }}
        </div> 
        -->
    </div>
{% endblock %}