{% extends 'base.html' %}

{% block content %}
    Events <br>

    <form method="GET">
        <input type="text" name="search" placeholder="search">
        <button type="submit">search</button>
    </form>

    <br>

    Dodaj wydarzenie:
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Dodaj">
    </form>


    <!-- {% comment %}
    {% for category in event_categorys %}
        <h3>{{category.name}}</h3>

        {% for event in category.get_events %}
            <a href="{{event.pk}}/">{{event.title}}</a>
            <br> <br>
        {% endfor %}

    {% endfor %}
    {% endcomment %} -->

    <div class="overflow-x-auto shadow-lg rounded-lg">
        <table class="min-w-full bg-white border border-gray-300 table-auto">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Nazwa</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Miejsce</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Data</th>
                    <th class="px-6 py-3 text-left text-sm font-semibold text-gray-700 uppercase">Kategoria</th>
                </tr>
            </thead>
            <tbody>
                

                {% for event in events %}
                    <tr class="border-b hover:bg-gray-50" onclick='window.location="{{event.pk}}/"'>
                        <td class="px-6 py-4 text-sm text-gray-800">{{event.title}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{event.location}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{event.date|date:"d.m.Y"}}</td>
                        <td class="px-6 py-4 text-sm text-gray-800">{{event.category}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}